.local/
.venv/
.cache/
build/
dist/
site/
reports/
waldiez_out/
**/logs/
**/tmp/
**/documents/
*.log
*.db
*.sqlite3
__pycache__/
*.py[cod]
*.egg
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/
.DS_Store
.coverage
**/*.coverage*
**/*.ffs_db
